<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.construccion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.construccion.Lista_proyectos"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.construccion.Crear_proyecto"
            android:label="@string/title_activity_crear_proyecto"
            android:parentActivityName="com.example.myfirstapp.Lista_proyectos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.Lista_proyectos" />
        </activity>
        <activity
            android:name="com.example.construccion.Ver_proyectos"
            android:label="@string/title_activity_ver_proyectos" >
        </activity>
    </application>

</manifest>
